<h1>Home#index</h1>
<% if user_signed_in? %>
  <h1>Olá <%= current_user.email %>!</h1>
  <%= link_to("logout", destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to("Sign in with MercadoLibre", user_omniauth_authorize_path(:mercadolibre)) %>
<% end %>
